/* Styles for add task form */
.form-container-add {
  width: 30%;
  margin: 20px;
  margin-top: 6.5em;
}

.form-container-add > h3 {
  margin: 20px;
  text-align: center;
  color: aliceblue;
}

.button-container-add {
  margin-top: 15px;
}

.text-field-add {
  width: 100%;
}

.item-input-container-add > span {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}

/* Responsive */

@media (max-width: 850px) {
  .form-container-add {
    width: 80%;
    margin: auto;
    margin-top: 2em;
  }

  .input-container-add {
    text-align: center;
  }

  .button-container-add {
    margin-top: 20px;
  }
}

@media (max-width: 395px) {
  .form-container-add {
    width: 90%;
  }
}

/* Styles for update task form */

.form-container-update {
  width: 100%;
  text-align: center;
}

.form-container-update > h3 {
  display: none;
}

.button-container-update {
  margin-top: 15px;
  text-align: center;
}

.text-field-update {
  width: 100%;
  
}

.input-container-update {
 
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  
 

}


.item-input-container-update{
  flex:50%;
}


.item-input-container-update > span {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}

.button-container-update{
 
  flex:100%;
}
