

.pageIndex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 
}

@media (max-width: 850px) {
  .pageIndex-container {
    flex-direction: column;
  }
}
