.form-container{
   
    width: 30%;
    margin: 20px;
    border: solid aliceblue;
}

.form-container > h1{
    margin: 20px;
    text-align: center;
    color: aliceblue;
}

@media (max-width: 768px) {
    .form-container > h1{
        color: red;
    }
  }